.secciones:link{
    color: red;
    text-decoration: none;
}
.secciones:visited{
    color: red;
    text-decoration: none;
}
.secciones:hover{
    color: red;
    text-decoration: underline;
}
.secciones:active{
    color: red;
    text-decoration: underline;
}
